body {

    background: url("../images/scenicBG.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;

}

h2 {

    font-family: 'Amiri', serif;

}

div.searchRow {

    margin-bottom: 5px;

}

div.input-field {

    margin-bottom: 0;

}

input#search {

    color: #ffffff;

}

i.searchIcon, i.clearIcon {

    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;

}

button.topic {

    margin: 5px;
    background: rgba(1, 12, 12, 0.75);

}

button.topic:hover {

    background: rgba(1, 12, 12, 0.5);

}